AEROLAKE_ENV=local

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=aerolake_admin
MINIO_ROOT_PASSWORD=change_me_in_real_env

AEROLAKE_S3_ENDPOINT=http://localhost:9000
AEROLAKE_S3_ACCESS_KEY=aerolake_admin
AEROLAKE_S3_SECRET_KEY=change_me_in_real_env
AEROLAKE_S3_REGION=us-east-1
AEROLAKE_BUCKET=aerolake-captures

AEROLAKE_LOG_LEVEL=INFO
